body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #343541;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


h1 {
  text-align: center;
}

.message-input {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  padding: 5px;
  resize: none;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reply {
  margin-top: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}


.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1024px;
  height: 95vh;
  justify-content: space-between;
  align-items: center;
  margin: 2rem auto;
}

.inputBar {
  width: 100%;
  position: relative;
}

.inputField {
  width: 100%;
  color: #fff;
  height: 40px;
  border: none;
  padding: 10px;
  padding-right: 50px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #40414F;
  transition: box-shadow 0.5s ease;
  margin-bottom: 1rem;
  /* margin: 0 1rem; */
}

.inputField:focus {
  box-shadow: inset 10px 10px 100px rgba(0, 0, 0, 0.01), 5px 5px 20px rgba(0, 0, 0, 0.2);

}

.submitButton {
  cursor: pointer;
  color: #fff;
  opacity: 0.3;
  font-size: 20px;
  position: absolute;
  z-index: 111;
  top: 3%;
  right: -5%;
  padding: 1rem;
  transition: opacity 0.3s ease;
}

.submitButton:hover {
  opacity: 1;
}

/* Message */

.message {
  color: #fff;
  display: flex;
  min-width: 400px;
  padding: 1.2rem;
  border-radius: 20px;
  margin-bottom: 2rem;
  justify-content: end;
}

.sent {
  background-color: #4cad29;
  margin-left: 15%;
}

.received {
  background-color: #007AFF;
  margin-right: 15%;
}

.response {
  text-align: start;
}